.App {
    display: flex;
    align-items: stretch;
  }
  
  .Sidebar {
    flex: 0 0 20%;
    background-color: #f2f2f2;
    height: 100vh;
  }
  
  .Swimlanes {
    flex: 1;
    background-color: #f2f2f2;
    overflow-y: scroll;
  }
  